@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Middle Valley Community Bank</h1>
    <p class="lead">Middle Valley Community Bank offers the first-ever web-based ATM. Give it a try today!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Powered by ASP.NET</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Open an account with us
        </p>
        <p>@Html.ActionLink(linkText: "Register", actionName: "Register", controllerName: "Account", routeValues: null, htmlAttributes: new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Access your existing account</p>
        <p>@Html.ActionLink(linkText: "Login", actionName: "Login", controllerName: "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>

<h2>You are using @Request.Browser.Browser</h2>